name: CI

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest]

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - uses: swift-actions/setup-swift@v2
        with:
          swift-version: "6.2"
      - name: Run tests
        run: swift test --parallel
